.headshotImg {
    width: 8rem;
    height: 8rem;
}

.contact-card-bg {
    background-color: #F3F2F2 !important;
}

.contact-div {
    background-color: white ;
    border-radius:6px;
    padding-left: 15px;
}

.contact-text {
    color: #FF82CE !important;
    text-decoration: none;
    border-color: white !important;
    font-family: "SF-Pro",sans-serif;
}

.contact-list-group {
    border-bottom: 2px solid #F3F2F2;
}

.about-header {
    font-family: 'Righteous', cursive;
}

.about-main-txt {
    font-family: 'Arvo', serif;
}

@media screen and (min-width: 768px) {
    .contact-card {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .contact-card {
        width: 33%;
    }
    .about-main-txt {
        width: 50%;
        padding-right: 80px;
    }

    .about-content {
        display: flex;
    }
}