.portfolio-header {
font-family: 'Righteous', cursive;
}

.project-card {
    border: 2px solid black;
}

.project-title {
font-family: 'Righteous', cursive;
color: #FF82CE;
}

.contributors {
    font-size: 12px;
}

.project-text {
font-family: 'Arvo', serif;
}

.project-stack {
    font-family: 'Arvo', serif;
    font-style: italic;
}

.project-link {
    font-family: 'Arvo', serif;
    color: #FF82CE;
}

@media screen and (min-width: 992px) {
    .portfolio-contents {
        display: flex;  
        flex-direction: column;
    }
    .project-card {
        width: 45%;
    }
    .portfolio-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}